$color-text: #333;
$color-primary: rgb(58, 209, 226);
//$color-primary: red;
$color-second: rgb(146,134,129);

body{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;


header {
  min-height: 50px;
  background-color: $color-primary !important;

  .bg-dark {
    background-color: $color-primary !important;
  }

  img {
    width: 50px;
    height: 50px;
  }

}

section.coeur{
  overflow: hidden;
  padding: 20px;
  p{
    position:relative;
    background: $color-primary;
    width: 200px;
    left:-160px;;
  }
}

footer{
    height: 50px;
    background-color: $color-primary !important;
    margin-top: auto;

 }



}