{%  extends 'template.twig' %}



{% block head %}
    - mon parcours
{% endblock %}

{% block content %}


    <main class="container section-parcours ">

    <div class="container">
        <a href="index.php?action=user!home" > <i class="fas fa-arrow-left"></i> Retour à l'accueil</a>
    </div>

    <section class="form px-0 m-5 mx-auto">

        <h1 class="contact">Mon parcours</h1>

</main>

{% endblock %}