{%  extends 'template.twig' %}



{% block head %}
    - mes réalisations
{% endblock %}

{% block content %}

    {% include "titre_page.twig" with {'h1': 'realisation'} %}


        <article class="rea block" id="gbaf">
            <section class="image">
                <img class="screen_site" src="public/image/project_bank.png" alt="image_project_bank">
            </section>
            <section class="description">
                <section class="resume">
                    <h3> GBAF </h3>
                    <p class="resume_site">Extranet pour un groupe bancaire <br> HTML, CSS, PHP (mcv), SQL</p>
                </section>
                <section class="button_site">
                    <p>Y jeter un<i class="far fa-eye"></i></p>
                </section>
            </section>
        </article>

        <article class="rea block" id="chalet_et_caviar">
            <section class="image">
                <img class="screen_site" src="public/image/chalet_et_caviar.png" alt="image_chalet_et_caviar">
            </section>
            <section class="description">
                <section class="resume">
                    <h3> Chalets et Caviar </h3>
                    <p class="resume_site">Site d'une agence immobilière <br> WORDPRESS <br> Thème enfant et plugins ajoutés suivant le besoin du client</p>
                </section>
                <section class="button_site">
                    <i class="far fa-eye"></i>
                </section>
            </section>
        </article>

        <article class="rea block">
            <section class="image">
                <img class="screen_site" src="public/image/hg.png" alt="logoPartner">
            </section>
            <section class="description">
                <section class="resume">
                    <h3> HagerGroup </h3>
                    <p class="resume_site">Intégration d'une page Web suivant une maquette sketch <br> HTML, BOOTSTRAP4, SCSS , JQUERY</p>
                </section>
                <section class="button_site">
                   <i class="far fa-eye"></i>
                </section>
            </section>
        </article>

        <article class="rea block" id="essai">
            <section class="image">
                <img class="screen_site" src="public/image/photo4.png" alt="logoPartner">
            </section>
            <section class="description">
                <section class="resume">
                    <h3>Titre </h3>
                    <p id="resumePartner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolor explicabo fugiat harum ipsam iure perferendis, rem saepe? Cupiditate debitis libero mollitia. Blanditiis deserunt ex explicabo facere maxime quas?</p>
                </section>
                <section class="button_site">
                    Y jeter un <i class="far fa-eye"></i>
                </section>
            </section>
        </article>

        <article class="rea block">
            <section class="image">
                <img class="screen_site" src="public/image/photo1.png" alt="logoPartner">
            </section>
            <section class="resume">
                <h3>Titre </h3>
                <p id="resumePartner">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolor explicabo fugiat harum ipsam iure perferendis, rem saepe? Cupiditate debitis libero mollitia. Blanditiis deserunt ex explicabo facere maxime quas?</p>
            </section>
            <section class="button_site">
                <i class="far fa-eye"></i>
            </section>
        </article>

    </section>
        
</main>

{% endblock %}