<main class="container section-realisation ">

    <div class="container">
        <a href="index.php?action=user!home" > <i class="fas fa-arrow-left"></i> Retour à l'accueil</a>
    </div>

    <section class=" px-0 m-5 mx-auto">

        <h1 class="title">{{ h1 }}</h1>